html {
  font-family: "Helvetica", sans-serif;
  text-align: center;
}

#masthead {
    background-image: url("/broadway/resources/images/the-flatiron-building.png");
}

#masthead h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#masthead ul {
  margin: 0;
  font-size: 18px;
  list-style-type: none;
}

#masthead li {
  margin-top: 1em;
}

#masthead a {
  text-decoration: none;
  color: white;
}
